{% extends "layout.html" %}

{% block body %}
<style>
  table.cinereousTable {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 7px solid #948473;
    background-color: #FFE3C6;
    width: 150px;
    height: 150px;
    text-align: center;
    border-collapse: collapse;
  }
  table.cinereousTable td, table.cinereousTable th {
    border: 2px solid #948473;
    padding: 4px 4px;
  }
  table.cinereousTable tbody td {
    font-size: 14px;
    font-weight: bold;
    color: #191D1C;
  }
  table.cinereousTable tfoot td {
    font-size: 16px;
  }  
</style>
        <table>
            {% for i in range(3) %}
              <tr>
                {% for j in range(3) %}
                   <td>
                       {%if game[i][j] %} 
                             {{ game[i][j] }}
                        {% else %}
                             <a href="{{ url_for('play', row=i,col=j) }}">Play {{ turn }} here</a>
                        {% endif %}
                  </td>
                {% endfor%}

              </tr>
            {% endfor%}
        </table>
        <h2><a href="{{ url_for('reset') }}">reset</a></h2>
        <h2><a href="{{ url_for('load') }}">back</a></h2>
{% endblock %}
