<!DOCTYPE html>
<html>
    <head><title>TictacToe</title></head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
        @media (min-width: 500px) {
            body{
            background: linear-gradient(11deg, rgba(0, 0, 0, 0.71), rgba(255, 255, 255, 0.51));
           }
        }
        @media (max-width: 499px) {
            body{
                background: linear-gradient(11deg, rgba(0, 0, 0, 0.71), rgba(255, 255, 255, 0.51));
           }
        }
    </style>
    <body>
       {% block body %}
       {% endblock %}
    </body>
</html>